# Binaries for programs and plugins
/interview
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*-tests*.xml
coverage.html

# Dependency directories
vendor/

# Editor / OS
.vscode/
.idea/
.DS_Store
